{% extends 'base.html' %}
{% block body %}
{% load humanize %}

    <div class="container my-2">

        <h5 class="my-3">{{ question.desc }}</h5>
        <form class="my-2" action="{{request.path}}Post" method="post" id="ans-div">
            {% csrf_token %}
            <div class="mb-3 p-0 col-auto">
                <label for="desc" class="form-label">Post a Comment or Answer:</label>
                <textarea name="desc" id="desc"></textarea>
            </div>
            <button class="btn-answer" type="submit" tabindex="0" aria aria-label="Answer the question">
                <div class="flex row" style="align-items: center;">
                    <div class="col" style="padding-right: 0; margin-bottom: 3px;">&nbsp;
                        <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <g stroke-width="1.5" fill="none" fill-rule="evenodd">
                                <path d="M18.571 5.429h0a2 2 0 0 1 0 2.828l-9.9 9.9-4.24 1.416 1.412-4.245 9.9-9.9h0a2 2 0 0 1 2.828 0Z" stroke="#666"
                                    stroke-linecap="round" stroke-linejoin="round" style="stroke: #2e69ff;"></path>
                                <path class="icon_svg-fill_as_stroke" fill="#666" d="m4.429 19.571 2.652-.884-1.768-1.768z" style="stroke: #2e69ff;">
                                </path>
                                <path d="M14.5 19.5h5v-5m-10-10h-5v5" class="icon_svg-stroke" stroke="#666" stroke-linecap="round"
                                    stroke-linejoin="round" style="stroke: #2e69ff;"></path>
                            </g>
                        </svg>
                    </div>
                    <div class="col" style="font-size: 14px; padding-left: 0;">
                        <div style="box-sizing: border-box; line-height: normal;">&nbsp;Answer</div>
                    </div>
                </div>
            </button>
        </form>
        
        <div class="my-3">
            <h4>Discussion</h4>
            {% for ans in answers %}
                <div class="my-1" style="font-size: large; ">{{ ans.desc|safe }}</div>
                <p style="color: rgb(40, 40, 41); font-size: small;">Posted by {{ ans.answered_by }} {{ ans.answered_on|naturaltime }}</p>
                <hr>
            {% endfor %}
        </div>
            
    </div>
    <script>
        function showHideAns(e) {
            document.getElementById("ans-btn").toggleAttribute("hidden")
            document.getElementById("ans-div").toggleAttribute("hidden")
            document.getElementById("ans-cancel").toggleAttribute("hidden")
        }
    </script>
    
    <script>
        // data.innerHTML = JSON.stringify({{ question|safe }}, null, 4)
    </script>
    <style>
        .ans {
            background-color: white;
            padding: 10px;
            border-radius: 5px;
        }
        .btn-answer {
            box-sizing: border-box; 
            color: #2e69ff !important; 
            border-radius: 20%/50%; 
            font: inherit; 
            padding: 0px 20px 0px 12px; 
            transition-property: box-shadow, background-color; 
            transition-duration: 60ms; 
            transition-timing-function: ease-out; 
            height: 38px; 
            min-width: 38px; 
            position: relative; 
            box-shadow: rgba(46, 105, 255, 0.09) 0px 0px 0px 1px inset; 
            border-width: 0px; 
            outline: none; 
            color: inherit;
        }
        .btn-answer:hover {
            background-color: #d7e1ff;
        }
    </style>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({selector: '#desc', height : "400"});</script>
    <style>
        .tox-notifications-container {
            display: none;
        }
    </style>

{% endblock body %}