<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tasks for Evaluations by Sai Krishna">
    <title>Tasks for Evaluations</title>
    <meta name="google-site-verification" content="QPpx_X4D6z_u0GWRFQUbTqS4zHUoYBDNoXkM-2oWZdc" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/bootstrap-5.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Tasks for Evaluations</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if active == 'home' %}active{% endif %}" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active == 'tasks' %}active{% endif %}" href="/tasks">Your Tasks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active == 'where' %}active{% endif %}" href="/tasks/where">Where am I</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
                            Actions
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="/" class="dropdown-item">
                                <i class="fas fa-user-edit mr-2"></i> Update Profile
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="/logout" class="dropdown-item">
                                <i class="fas fa-power-off mr-2"></i> Logout
                            </a>
                        </div>
                    </li>
                </ul>
                
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                
            </div>
        </div>
    </nav>
    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" {% endif %} role="alert">
                {{ message }}
                <button type="button" class="close py-2" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    {% block body %}{% endblock body %}

    <style>
        body {
            background-color: rgb(241, 242, 242);
        }
        .center-flex {
            align-items: center;
            display: flex;
            flex-direction: column;
        }
        .center {
            text-align: center;
        }
        p {
            margin-bottom: 0;
        }
        .notification {
            color: white;
            text-decoration: none;
            position: relative;
            display: inline-block;
            border-radius: 2px;
        }
        .notification .badge {
            position: absolute;
            top: -5px;
            right: -7px;
            padding: 4px 5px;
            border-radius: 50%;
            background: red;
            color: white;
        }
    </style>

    <script>
        function send(slug){
            fetch("/delete/"+slug).then(data=>data.json()).then((d)=>{
                alert("JSON.stringify(data)");
            })
        }
    </script>
    <!-- Bootstrap Bundle with Popper -->
    <script src="/static/jquery-3.6.0.min.js"></script>
    <script>
        $.fn.isOnScreen = function(){

            var win = $(window);
        
            var viewport = {
                top : win.scrollTop(),
                left : win.scrollLeft()
            };
            viewport.right = viewport.left + win.width();
            viewport.bottom = viewport.top + win.height();
        
            var bounds = this.offset();
            bounds.right = bounds.left + this.outerWidth();
            bounds.bottom = bounds.top + this.outerHeight();
        
            return (!(viewport.right < bounds.left || viewport.left > bounds.right || viewport.bottom < bounds.top || viewport.top > bounds.bottom));
        
        };
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="/static/bootstrap-5.0.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script>
        $('.card-body').on('show.bs.collapse', function () {
            $(this).siblings('.our').addClass('active');
        });
        
        $('.card-body').on('hide.bs.collapse', function () {
            $(this).siblings('.our').removeClass('active');
        });
    </script>
</body>

</html>